
body {
	min-height: 100vh;  /* need this line to
					tell body to fill viewport */
	font-family: 'Roboto', sans-serif;
	background-color: white;
	display: flex;
	flex-direction: column;
	color: #4A73FF;
	font-size: 25px;
     }

header {
       text-align: left;
       padding: 10px;
	   position: relative;
	   bottom: -15px;
	   font-weight: bold;

}

h4 {
	color: black;
	position: relative;
	bottom: -45px;
	right: -10px;
	font-weight: lighter;
}

.centering {
	position: relative;
	right: -100px;

}

/* #subtitle {
	color: black;
} */

#the-author {
	display: flex;
	flex-direction: column;
	padding: 10px;
	font-weight: lighter;

}
#the-title {
	display: flex;
	flex-direction: column;
	padding: 10px;
	font-weight: lighter;
}
#the-isbn {
	display: flex;
	flex-direction: column;
	padding: 10px;
	font-weight: lighter;
}
#or {
	display: flex;
	flex-direction: row;
	padding: 10px;
	position: relative;
	bottom: -25px;

}

/* #search {
	display: flex;
	position: relative;
	right: -300px;


} */
.button {
    background-color: #4A73FF;
    border: none;
    color: white;
    padding: 15px 32px;
	border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	position: relative;
	bottom: -20px;
	right: -280px;
}

.nav {
	display: flex;
	flex-direction: row;

}

/*

h1 {
   font-size: x-large;
   font-weight: light;
} */


main {
     flex: 1 0 auto;  /* the sticky footer trick without the footer */
}


input {
	border-style: solid;
	border-radius: 5px;
	font-size: medium;
	border-color: #4A73FF
}

.overlay_base {
    display: none; /* Start out hidden, we'll dynamically enable it later. */

    /* Full-window container ... */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* ... floating above everything else ... */
    z-index: 2;

    /* ... with partial transparency,
           to make everything else look greyed out */
    background-color: rgba(0,0,0,0.5);

    /* Flex options for child objects */
    align-items: center;
    justify-content: center;
}

.overlay_inner {
    width: 50%;
    height: 50%;
    background-color: rgb(255,255,255); /* Must set the background color here,
				otherwise it inherits from the parent */
    position: relative;
    margin-bottom: 2%;
}

/* Not covered in Discussion: force the close button into
              the upper-right corner of it's parent container */
.close_button {
    position: absolute;
    top: 0px;
    right: 0px;
}

.keep_button {
    position: absolute;
    bottom: 0px;
    justify-content: center;
    margin-bottom: 20%;
}

@media (max-width: 480px){
	.centering {
		position: relative;
		left: 25px;

	}
	#the-author {
		display: flex;
		flex-direction: column;
		padding: 10px;
		font-weight: lighter;

	}
	#the-title {
		display: flex;
		flex-direction: column;
		padding: 10px;
		font-weight: lighter;
	}
	#the-isbn {
		display: flex;
		flex-direction: column;
		padding: 10px;
		font-weight: lighter;
	}
	#or {
		display: flex;
		flex-direction: column;
		position: relative;
		right: -140px;
		bottom: -5px;

	}
	.nav {
		display: flex;
		flex-direction: column;

	}
	input {
		width: 300px;
		height: 40px;
		border-radius: 8px;
	}
	.button {
		position: relative;
		right: -15px;
		width: 300px;
		height: 50px;
		text-align: center;
		border-radius: 8px;

	}
}
